@{
    ViewBag.Title = "Finalizar";
}

<div align="center">
    <h2>Su compra ha finalizado. ¡Muchas gracias!</h2><br />
    <button class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Index", "Home")';return false;">Volver a tienda</button>
</div>

